body {
    margin-top: 70px;
    text-align: center;
}
ul {
    list-style: none;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 50px;
}
#greetings {
    margin-bottom: 20px;
}
